 
<div class="container">
    <div class="maincontainer">
        <h1 class="title">Web Design Agency in Manchester</h1>

        <button pButton type="button" class="p-button-raised p-button-rounded p-button-outlined" label="ok" ></button>
        
        <h1 class="phrase">A web design & branding agency in Manchester who care, build relationships, have industry experience, and win awards.</h1>

        <div class="card">
            <div class="flex card-container indigo-container">
                <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">1</div>
                <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round mx-4">2</div>
                <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">3</div>
            </div>
        </div>
    </div>


    <div class="leftcontainer">
       <h5>Email Us ⏤ hello@madebyshape.co.uk</h5> 
    </div>
</div>





